@import "../../settings/variables";
@import "../../settings/mixins";

.button {
  background-color: $primary;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  font-family: $font-stack;
  font-weight: 500;
  padding: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;

  &:hover {
    background-color: $primary-action;
  }

  @include desktop {
    max-width: 200px;
  }
}



