$black: #111111;
$blue: #1886BA;
$ligth-blue: #69b4e0;
$dark-blue: #5f687a;
$green: #00A123;
$white: #FFFFFF;
$gray: #B5B5B5;
$gray-secondary: #94BCC3;
$gray-silver: #eef2f5;
$primary: #ED0722;
$primary-action: #F92D3C;
$red-solid: #cf5f61;
$font-stack: 'Open Sans', 'Helvetica Neue', sans-serif;

