$black: #111111;
$blue: #1886BA;
$green: #00A123;
$white: #FFFFFF;
$gray: #B5B5B5;
$gray-secondary: #94BCC3;
$primary: #ED0722;
$primary-action: #F92D3C;
$font-stack: 'Open Sans', 'Helvetica Neue', sans-serif;

